/* Inspiré de : https://codepen.io/melnik909/pen/VQOodQ */

@CHARSET "UTF-8";

body {
    background-image: url("../images/ship-boat-sea-vehicle-blue-cruise-ship-519479-wallhere.com.jpg");
}

h1 {
    text-align: center;
    margin: 0 auto;
}

/*
=====
DEPENDENCES
=====
*/

.r-link {
    display: var(--rLinkDisplay, inline-flex) !important;
}

.r-link[href] {
    color: var(--rLinkColor) !important;
    text-decoration: var(--rLinkTextDecoration, none) !important;
}

.r-list {
    padding-left: var(--rListPaddingLeft, 0) !important;
    margin-top: var(--rListMarginTop, 0) !important;
    margin-bottom: var(--rListMarginBottom, 0) !important;
    list-style: var(--rListListStyle, none) !important;
}


/*
=====
CORE STYLES
=====
*/

.menu {
    --rLinkColor: var(--menuLinkColor, currentColor);
}

.menu__link {
    display: var(--menuLinkDisplay, block);
}

/*
focus state
*/

.menu__link:focus {
    outline: var(--menuLinkOutlineWidth, 2px) solid var(--menuLinkOutlineColor, currentColor);
    outline-offset: var(--menuLinkOutlineOffset);
}

/*
fading siblings
*/

.menu:hover .menu__link:not(:hover) {
    --rLinkColor: var(--menuLinkColorUnactive, rgba(22, 22, 22, .35));
}

/*
=====
PRESENTATION STYLES
=====
*/

.menu {
    background-color: var(--menuBackgroundColor, #f0f0f0);
    box-shadow: var(--menuBoxShadow, 0 1px 3px 0 rgba(0, 0, 0, .12), 0 1px 2px 0 rgba(0, 0, 0, .24));
}

.menu__list {
    display: flex;
}

.menu__link {
    padding: var(--menuLinkPadding, 1.5rem 2.5rem);
    font-weight: 700;
    text-transform: uppercase;
}

/*
=====
TEXT UNDERLINED
=====
*/

.text-underlined {
    position: relative;
    overflow: hidden;

    will-change: color;
    transition: color .25s ease-out;
}

.text-underlined::before,
.text-underlined::after {
    content: "";
    width: 0;
    height: 3px;
    background-color: var(--textUnderlinedLineColor, currentColor);

    will-change: width;
    transition: width .1s ease-out;

    position: absolute;
    bottom: 0;
}

.text-underlined::before {
    left: 50%;
    transform: translateX(-50%);
}

.text-underlined::after {
    right: 50%;
    transform: translateX(50%);
}

.text-underlined:hover::before,
.text-underlined:hover::after {
    width: 100%;
    transition-duration: .2s;
}

/*
=====
SETTINGS
=====
*/

.page__custom-settings {
    --menuBackgroundColor: #6c5ce7;
    --menuLinkColor: #fff;
    --menuLinkColorUnactive: #241c69;
    --menuLinkOutlineOffset: -.5rem;
}

/*
=====
DEMO
=====
*/

body {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Open Sans, Ubuntu, Fira Sans, Helvetica Neue, sans-serif;
    margin: 0;
    /*    min-height: 100vh; */
    display: flex;
    flex-direction: column;
}

.page {
    box-sizing: border-box;
    max-width: 1024px;
    padding-left: .75rem;
    padding-right: .75rem;
    margin: auto;
}

.page__menu:nth-child(n+2) {
    margin-top: 3rem;
}

.substack {
    border: 1px solid #EEE;
    background-color: #fff;
    width: 100%;
    max-width: 480px;
    height: 280px;
    margin: 1rem auto;
    ;
}

.linktr {
    display: flex;
    justify-content: flex-end;
    padding: 2rem;
    text-align: center;
}

.linktr__goal {
    background-color: rgb(209, 246, 255);
    color: rgb(8, 49, 112);
    box-shadow: rgb(8 49 112 / 24%) 0px 2px 8px 0px;
    border-radius: 2rem;
    padding: .75rem 1.5rem;
}

.r-link {
    --uirLinkDisplay: var(--rLinkDisplay, inline-flex);
    --uirLinkTextColor: var(--rLinkTextColor);
    --uirLinkTextDecoration: var(--rLinkTextDecoration, none);

    display: var(--uirLinkDisplay) !important;
    color: var(--uirLinkTextColor) !important;
    text-decoration: var(--uirLinkTextDecoration) !important;
}

footer {
    border-radius: 10px;
    color: white;
    padding: 12px;
    background-color: #6c5ce7;
    max-width: 520px;
    margin: 0 auto;
}

@media screen and (max-width: 480px) {
    footer {
        margin: 0px 10px;
    }
}

.section {
    max-width: 900px;
    border-radius: 10px;
    margin: 60px auto;
    padding: 90px 30px;
    background-color: #cdd8ff;
    opacity: 0.8;
    text-align: left;
}

.sectionConnexion {
    max-width: 900px;
    border-radius: 10px;
    margin: 60px auto;
    background-color: #cdd8ff;
    opacity: 0.8;
    text-align: left;
}

.sectionDestination {
    max-width: 900px;
    border-radius: 10px;
    margin: 60px auto;
    padding: 90px 30px;
    background-color: #cdd8ff;
    opacity: 0.8;
    text-align: left;
}


.sectionMesReservation {
    max-width: 900px;
    bottom: 50px;
    border-radius: 10px;
    margin: 60px auto;
    background-color: #cdd8ff;
    opacity: 0.8;
    text-align: left;
}

/* Connexion */
.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 700px;
    flex-wrap: wrap;
    z-index: 1;
}

.container .content {
    padding: 10px;
    text-align: center;
    transition: 0.5s;
}

.container .content p {
    font-size: 1.5em;
    color: black;
}


#connexionTitre {
    text-align: center;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    color: #241c69;
}

#connexion_text {
    padding: 3px 3px;
    text-align: center;
}

#connexion_password {
    padding: 3px 3px;
    text-align: center;
}

#connexion_submit {
    padding: 5px 5px;
}

/* Destination  */
#destination_text {
    border-radius: 10px;
    width: 30vw;
    height: 2em;
    margin: 0;
}

#destination_submit {
    background-color: lightblue;
    height: 2em;
    width: 5em;
    margin: 0;
    border-radius: 20px;
    transform: translateX(-50%);
}

#elements {
    background-color: white;
    margin-bottom: 5px;
    border-radius: 15px;
}

.suggestion {
    padding: 8px;
}

table {
    background-color: white;
    border-radius: 2px;
    padding: 10px;
}

a.connected {
    background-color: #4D88FF;
    border-radius: 20px;

}

a.notconnected {
    background-color: #8a889b;
    border-radius: 20px;
}

li {
    list-style: none;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #ededed;
}

thead {
    background-color: #956a95 !important;
    color: white !important;
    font-weight: bold !important;
}

#menuGeneral {
    /* background-color: rgba(217, 217, 217, 0.5);*/
    background-color: rgba(5, 47, 102, 255);
    display: inline-flex;
    width: 100%;
    list-style: none;
    position: sticky;
}

.connexion {
    border-radius: 35px;
    color: white;
    padding: 12px;
    background-color: #4D88FF;
}

#reservations {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#reservations td,
#customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#reservations tr:nth-child(even) {
    background-color: #f2f2f2;
}

#reservations tr:hover {
    background-color: #ddd;
}

#reservations th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}